body {
  margin: 0;
  padding: 0;
  background-image:url("../public//images//Waterfalls.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.soft-title {
  margin-top: .10em;
}

.jtImg {
  padding: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text, h2 {
  font-size: 30px;
}

h1 {
  font-size:100px;
}

.projTitle {
  font-size:100px;
}


.aboutMeTitle {
  font-size:100px;
  align-items: right;
}

.aboutme-text {
  font-size: 25px;
}



.resumeCol-img {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mySkillsTitle {
  text-align: center;
}
#skills {
  margin-top:20px;
  padding-left:  15px;
  column-fill: white;
}

.contact {
  margin-top: 18%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

