h1 {
  font-size:100px;
}

.projTitle {
  font-size:50px;
}

.aboutMeTitle {
  font-size:100px;
}

.img-res {
  width: 80%;
  height: 80%;
}

.resumeCol-img {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


